- link = confirm_participant_url(@participant, locale: I18n.locale, code: @participant.code)

%h3.yellow= page_part 'email_title_step2'

%p= link_to link, link

%p
  %strong #{page_part 'email_body_step2'}  #{@participant.select_option_human}

- if @participant.monthly_payments
  %p= @participant.monthly_payments_human