= simple_form_for([:manage, resource]) do |f|
  = f.error_messages

  - if @parent.present?
    = "Parent Page: #{link_to(page_path(@parent), page_path(@parent))}".html_safe
    = f.input :parent_id, as: :hidden, :input_html => { :value => @parent.id }

  = f.input :content, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full', :height => 600} }
  = f.input :seo_title, :input_html => { :cols => 100 }
  = f.input :seo_keywords, :input_html => {:rows => 3}
  = f.input :seo_description, :input_html => {:rows => 3}
  = f.input :priority
  = f.input :position, as: :select, collection: Page::POSITIONS


  .form-group
    = f.button  :submit, 'Save', class: "btn  btn-success"
    = link_to  [:manage, :pages], class: "btn  btn-default" do
      %spancontent_tag.glyphicon.glyphicon-remove
      Cancel
