.row
  .col-md-6
    %h1.left Editing page
  .pull-right
    = link_to  [:manage, :pages], class: 'btn btn-info' do
      %spancontent_tag.glyphicon.glyphicon-arrow-left
      Back to list

= render 'form'
