.row
  .col-md-6
    %h1.left Pages
  .pull-right
    = link_to new_manage_page_path, class: 'btn btn-success h1-right-controls' do
      %span.glyphicon.glyphicon-plus
      Add page

- if @pages.any?
  .pull-right
    = paginate @pages, window: 3

  %table.table.table-striped
    %thead
      %tr
        %td Previev
        %td Position
        %td Priority
        %th
    %tbody
      - @pages.root_pages.by_priority.each do |page|
        %tr
          %td
            %strong= link_to page_path(page), page_path(page)
            - if page.child_pages.any?
              %table.table.table-striped.table-bordered.inner_table
                %tbody
                  - page.child_pages.by_priority.each do |page|
                    %tr
                      %td
                        = link_to page_path(page), page_path(page)
                      %td
                        = "#{page.position} / #{page.priority}"
                      %td
                        = link_to  edit_manage_page_path(page), class: 'btn btn-sm btn-info' do
                          %spancontent_tag.glyphicon.glyphicon-pencil
                          Edit
                        = link_to manage_page_path(page), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure you want to delete?"} do
                          %span.glyphicon.glyphicon-remove
                          Delete
          %td
            = page.position
          %td
            = page.priority
          %td
            %ul.list-inline.text-right
              %li
                = link_to new_manage_page_path(parent: page), class: 'btn btn-sm btn-info' do
                  %span.glyphicon.glyphicon-plus
                  Add Subpage
              %li
                = link_to edit_manage_page_path(page), class: 'btn btn-sm btn-info' do
                  %spancontent_tag.glyphicon.glyphicon-pencil
                  Edit
              %li
                = link_to  manage_page_path(page), method: :delete, class: 'btn btn-sm  btn-danger', data: {confirm: "Are you sure you want to delete?"} do
                  %span.glyphicon.glyphicon-remove
                  Delete

  .pull-right
    = paginate @pages, window: 3
  %br

- else
  %p No Pages.
