%h1 Site Settings

= simple_form_for [:manage, current_site] do |f|
  = f.input :js_code, required: true, label: "Google Analytics JS Tracking Code"
  = f.input :contact_email, required: true
  = f.input :fb, required: true, label: "Facebook"
  = f.input :gp, required: true, label: "Google Plus"
  = f.input :tw, required: true, label: "Twitter"
  = f.input :vk, required: true, label: "VK"

  = f.button :submit