- content_for :on_load do
  page_part_format();

= simple_form_for [:manage, resource] do |f|
  = f.error_messages

  = f.input :identifier, required: true
  = f.input :format, :collection => [['Plain', :plain], ['HTML', :html]], default: :plain, input_html:{ id: "page_part_format" }

  .plain.part
    = f.input :content_uk, as: :text, input_html:{ class: 'plain_input', rows: "6" }
    = f.input :content_en, as: :text, input_html:{ class: 'plain_input', rows: "6" }

  = f.button :submit

  = link_to 'Cancel', [:manage, :page_parts]