.row
  .col-md-6
    %h1.left Edit Page Part
  .pull-right
    = link_to collection_path, class: 'btn btn-info' do
      %spancontent_tag.glyphicon.glyphicon-arrow-left
      Back to list

= render 'form'
