.row
  .col-md-6
    %h1.left Page Parts
  .pull-right
    = link_to  new_manage_page_part_path, class: 'btn btn-success h1-right-controls' do
      %span.glyphicon.glyphicon-plus
      New page part

%table.table.table-striped
  %thead
    %tr
      %th Identifier
      %th Content_en
      %th Content_uk
      %th Format
      %th
  %tbody
    - @page_parts.each do |page_part|
      %tr
        %td= page_part.identifier
        %td= page_part.content_en
        %td= page_part.content_uk
        %td= page_part.format
        %td
          %ul.list-inline.text-right
            %li
              = link_to edit_manage_page_part_path(page_part), class: 'btn btn-sm btn-info' do
                %spancontent_tag.glyphicon.glyphicon-pencil
                Edit
