%h1 Page Part

%h2 Idintifier

%p= @page_part.identifier
%h2 Content EN

%p= raw @page_part.content_en
%h2 Content UK

%p= raw @page_part.content_uk
%h2 Format

%p= @page_part.format

= link_to "Edit", edit_manage_page_part_path, class: "btn btn-info"