= simple_form_for([:manage, resource], :html => {:class => 'form'}) do |f|
  = f.error_notification
  .form-group
    = f.input :name_uk
    = f.input :name_en
  .form-group
    = f.input :description_uk
    = f.input :description_en

  .form-group
    = f.input :ext_description_uk
    = f.input :ext_description_en

    -if @product.image.present?
      =image_tag(@product.image_url)

    .form-group
      = f.file_field  :image

    .form-group
      = f.button  :submit, 'Save', class: "btn  btn-success"
      = link_to  manage_products_path, class: "btn  btn-default" do
        %spancontent_tag.glyphicon.glyphicon-remove
        Cancel
