.row
  .col-md-6
    %h1.left Products
  .pull-right
    = link_to  new_manage_product_path, class: 'btn btn-success h1-right-controls' do
      %span.glyphicon.glyphicon-plus
      Add product

.clearfix

- if @products.any?
  .pull-right
    = paginate @products, window: 3

  %table.table.table-striped
    %thead
      %tr
        %th Product
        %th

    %tbody
      - @products.each do |product|
        %tr
          %td= product.name
          %td
            %ul.list-inline.text-right
              %li
                = link_to edit_manage_product_path(product), class: 'btn btn-sm btn-info' do
                  %spancontent_tag.glyphicon.glyphicon-pencil
                  Edit
              %li
                = link_to  manage_product_path(product), method: :delete, class: 'btn btn-sm  btn-danger', data: {confirm: "Are you sure you want to delete?"} do
                  %span.glyphicon.glyphicon-remove
                  Delete

  .pull-right
    = paginate @products, window: 3
  %br

- else
  %p No Products.
