$('#left-part').html("<%= escape_javascript(render('/home/email_sended'))%>");
$('#participant').modal('hide');
$('.modal-backdrop').remove();
$('.js-participant-button').remove();
$('body').css('padding-right',0);
$('#scroll-top').remove();