= simple_form_for([:manage, resource]) do |f|
  = f.error_messages
  = f.association :user
  = f.input :name
  = f.input :description, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full', :height => 600} }
  = f.input :phone_1
  = f.input :phone_2
  = f.input :email
  = f.input :website
  = f.input :logo, as: :file

  = f.button :submit

