.row
  .col-md-6
    %h1.left Organizations
  .col-md-6
    - if current_user.admin?
      = link_to 'Add Organization', new_resource_path, class: 'btn btn-success h1-right-controls'
.clear

- if collection.any?
  %table.table.table-striped
    %thead
      %tr
        %td Name
        %td Owner
        %td Team
        %td.actions Actions
    %tbody
      - collection.each do |e|
        %tr
          %td= e.name
          %td= e.user.try :name
          %td
          %td
            = link_to 'Edit', edit_resource_path(e), class: 'btn btn-sm btn-info'
            = link_to "Destroy", resource_path(e), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure you want to delete?"}
  %br

- else
  %p No Organizations.
