%nav.navbar.navbar-inverse{:role => "navigation"}
  .container

    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-9", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} SoftServe Donate

    #bs-example-navbar-collapse-9.collapse.navbar-collapse.pull-right
      %ul.nav.navbar-nav
        = content_tag :li, class: "#{'active' if admin_menu?(:content)}" do
          = link_to "Content", manage_page_parts_path

        = content_tag :li, class: "#{'active' if admin_menu?(:pages)}" do
          = link_to "Pages", manage_pages_path

        = content_tag :li, class: "#{'active' if admin_menu?(:products)}" do
          = link_to "Products", manage_products_path

        = content_tag :li, class: "#{'active' if admin_menu?(:marathons)}" do
          = link_to "Marathons", manage_marathons_path
        = content_tag :li, class: "#{'active' if admin_menu?(:reports)}" do
          = link_to "Reports", manage_reports_path
        %li
          = link_to destroy_user_session_path, :method => :delete do
            %spancontent_tag.glyphicon.glyphicon-off
            ="Sign out (#{current_user.email})"

    .clearfix
