%a{href: '#', class: "player #{local_assigns[:class]}", style: "#{local_assigns[:styles]}", data: { property: properties.to_json.html_safe }}
%div{id: properties[:containment].gsub(/^#/, ''), style: 'display: block; background: rgba(0,0,0,0.1); position: absolute; height: 100%; width: 100%'}