.header-cont
  %nav.navbar.navbar-static-top{:role => "navigation"}
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-8", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a{href: root_path}
        %span.logo
        %span.logo_text Заради життя

    .soc
      - if current_site.fb
        %a{href: "#{current_site.fb}"}
          %i.fa.fa-facebook
      - if current_site.gp
        %a{href: "#{current_site.gp}"}
          %i.fa.fa-google-plus
      - if current_site.tw
        %a{href: "#{current_site.tw}"}
          %i.fa.fa-twitter
      - if current_site.vk
        %a{href: "#{current_site.vk}"}
          %i.fa.fa-vk

    .language.hide
      %a{href: '/uk'}
        %span.flag.flag-ua
      %a{href: '/en'}
        %span.flag.flag-england

    #bs-example-navbar-collapse-8.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Проекти', [:projects]
        %li
          = link_to 'Події', [:events]
        %li
          %a{href: '/#who_we_are'} 
            = page_part 'who_we_are_link'
        %li
          %a{href: '/#instruction'} 
            = page_part 'instruction_link'
        %li
          = link_to page_part('contact_link'), new_contact_path

        - Page.root_pages.except_about.for_header.each do |page|
          %li
            = link_to page do
              = page.seo_title

