.row
  .col-lg-10.col-md-10.text-right.language
    = link_to 'УКР', root_path(locale: :uk), class: "locale-switch #{'active' if active_locale?(:uk)}"
    = link_to 'ENG', root_path(locale: :en), class: "locale-switch #{'active' if active_locale?(:en)}"
