.slider-section{class: "#{'green-slider' unless marathon.try(:voting?) }"}
  %h2= t :slider_header
  .container-fluid
    .row
      .col-xs-7.col-xs-offset-1
        .slick-slider.slider-reports
          - reports.without_bucket.each do |report|
            %div.slider-item
              %h3.thumb-header=raw report.name
              %span.period
                - if report.report_month.present?
                  =l report.report_month.to_date, format: :month
                  =l report.report_month.to_date, format: :year
                  - if report.bucket? && report.end_month.present?
                    &#8212;
                    =l report.end_month.to_date, format: :month
                    =l report.end_month.to_date, format: :year
              %hr
              %p.description=raw report.description
              = link_to t(:show_report), report, class: 'btn btn-primary'

      .col-xs-3.bucket-section
        .slick-slider.bucket-slider
          - Report.with_bucket.ordered.each do |report|
            %div.slider-item
              %h3.thumb-header=raw report.name
              %span.period
                - if report.report_month.present?
                  =l report.report_month.to_date, format: :month
                  =l report.report_month.to_date, format: :year
                  - if report.bucket? && report.end_month.present?
                    &#8212;
                    =l report.end_month.to_date, format: :month
                    =l report.end_month.to_date, format: :year
              %hr
              %p.description=raw report.description
              = link_to t(:show_report), report, class: 'btn btn-primary'
      .clearfix
