%p.form-header= page_part 'form_header'
= form_for(marathon.participants.build, remote: true) do |f|
  .form-group
    = f.radio_button(:payment_type, "option_1")
    = label_tag(:participant_payment_type_option_1) do
      = page_part 'radio_1'
      %span.comment= page_part('radio_1_comment')
  .form-group
    = f.radio_button(:payment_type, 'option_2')
    = label_tag(:participant_payment_type_option_2) do
      = page_part 'radio_2'
      %span.comment= page_part('radio_2_comment')
  .form-group
    = f.radio_button(:payment_type, 'option_3')
    = label_tag(:participant_payment_type_option_3) do
      = page_part 'radio_3'
      %span.comment= page_part('radio_3_comment')
  .form-group
    = f.radio_button(:payment_type, 'other')
    = label_tag(:participant_payment_type_other, '$')
    = f.text_field(:amount, class: 'amount', maxlength: 10)
    = label_tag(:participant_amount) do
      %span.comment= page_part('amount')
    .form-group.toc-block
      = f.check_box(:toc)
      = label_tag(:participant_toc, "#{insert_current_month(page_part('toc_description'))}", class: 'comment toc')
    .form-group.toc-block
      = label_tag :monthly_payments, class: 'toc monthly_payments_cb comment' do
        = f.check_box(:monthly_payments)
        %span= raw page_part('monthly_payments')
        = f.select :months, options_for_select([[t('month_1'), 1], [t('month_2'), 2], [t('month_3'), 3]], 1)


  .btn.btn-large.btn-primary{'data-toggle' => 'modal', 'data-target' => '#participant', disabled: 'disabled', class: 'js-participant-button'}= page_part 'open_modal'

  .modal.fade#participant{'tabindex' => '-1', 'role' => 'dialog', 'aria-labelledby' => '#participant', 'aria-hidden' => 'true'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{'data-dismiss' => 'modal', type: 'button'}
            %span{'aria-hidden' => 'true'} &times;
            %span.sr-only= page_part('close')
          %h4.modal-title= page_part('modal_title')
        .modal-body
          .form-group
            = label_tag(:participant_name, class: 'strong') do
              = page_part('form_name')
            = f.text_field(:name, :placeholder => "#{page_part('user_placeholder')}", class: 'form-control')
          .form-group
            = label_tag(:participant_email, class: 'strong') do
              = page_part('form_email')
            = f.text_field(:email, :placeholder => "#{page_part('email_placeholder')}", class: 'form-control')
          .form-group.error.has-error
            %span.js-form-error.help-block
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'}= page_part('close')
          = f.submit("#{page_part('submit')}", class: 'btn btn-primary')
