.row
  - if marathon.in_progress?
    .row.header-content
      .col-lg-2.col-lg-offset-3
        = progress_image(marathon.progress)
        #{page_part('progress_header').gsub('XXX', marathon.participants.confirmed.count.to_s).gsub('YYY', Marathon::TOTAL_PEOPLE.to_s).html_safe}
        %p.days= page_part 'progress_time_left'
        = time_left(marathon.finishing_on)
      - if marathon.voting_active?
        .col-lg-5.col-lg-offset-1
          = render partial: 'home/active', locals: { marathon: marathon }
  - elsif marathon.about_to_start?
    .row.to_next_sprint
      %h3=t :time_left
      %h3= time_left(marathon.started_at)
  - else
    = render partial: 'home/voting_stopped', locals: { marathon: marathon }
