- if marathon.voting?
  = image_tag 'arrow.png', class: 'scroll_arrow', alt: ''

.container-fluid
  = render partial: 'shared/locale_switch'
  - if marathon.held?(1.week)
    = render partial: 'home/not_now'
  - else
    = render partial: 'home/marathon_countdown', locals: { marathon: @marathon }
