%li
  %div{class: ('well' if local_assigns[:well]) }
    %h3.thumb-header=raw report.name
    %span.period
      - if report.report_month.present?
        =l report.report_month.to_date, format: :month
        =l report.report_month.to_date, format: :year
        - if report.bucket? && report.end_month.present?
          &#8212;
          =l report.end_month.to_date, format: :month
          =l report.end_month.to_date, format: :year
    %hr
    %p.description=raw report.description
    = link_to t(:show_report), report, class: 'btn btn-primary'
