= page_meta({ title: page_part('title_main'), description: ''})
= title "#{page_part('title_main')}"

%header.header.home-page-header
  .header-opacity
    = render partial: 'shared/background_video_player', locals: { properties: background_video_properties(yt_properties_parts.merge(containment: '#video-background-div')), styles: 'display: none; background-image: none;' }
    - if @marathon.present?
      = render partial: 'home/marathon_template', locals: { marathon: @marathon }
    -#- else
    -#  = render partial: 'home/title'

- if @marathon.try(:voting?)
  .container.items-section
    %h2= page_part 'products_header'
    .row
      - @marathon.products.each_with_index do |product, index|
        .col-sm-6.col-md-3
          .thumbnail
            = image_tag "#{product.image.list.url}"
            .caption
              %h3= product.name
              %p
                = product.description
                - if product.ext_description.present?
                  = image_tag 'info.png' , class: 'info-img', tabindex: 0, data: { content: "#{raw(product.ext_description)}", toggle: 'popover', placement: 'right', trigger: 'focus', html: true }
        - if ((index+1)%4).zero?
          .clearfix
      .clearfix
      .btn.btn-large.btn-primary#scroll-top= page_part 'open_modal'

= render partial: 'shared/slider', locals: { reports: @reports, marathon: @marathon }
