= page_meta({ title: page_part('title_main'), description: ""})
= title "#{page_part('title_main')}"

.opacity
  .container
    %h1.yellow= page_part('confirmation_header')
    %p= page_part('confirmation_text')
    %br
    = link_to t(:home), root_path , class: "btn btn-large btn-primary"