= page_meta({ title: page_part('title_main'), description: ""})
= title "#{page_part('title_main')}"

%header.header.home-page-header
  .header-opacity
    = video_background('https://www.youtube.com/watch?v=yYX7KVEtfLo')
    - if @marathon.voting_active
      = image_tag 'arrow.png', class: 'scroll_arrow'
    .container
      .language.pull-right
        = link_to "УКР", '/uk', class: "#{'active' if active_locale?(:uk)}"
        = link_to "ENG", '/en', class: "#{'active' if active_locale?(:en)}"
      .clearfix
      - if @marathon.voting_active
        %h1= page_part 'main_header'
      .row
        - if @marathon.voting_active
          .col-xs-8#left-part
            = render 'home/marathon_template'
          .col-xs-4.right-part
            = progress_image(@marathon.progress)
            #{page_part('progress_header').gsub('XXX', @marathon.participants.confirmed.count.to_s).gsub('YYY', Marathon::TOTAL_PEOPLE.to_s).html_safe}
            %p.days= page_part 'progress_time_left'
            = time_left(@marathon)
        - else
          = render 'home/voting_stopped'
- if @marathon.voting_active
  .container.items-section
    %h2= page_part 'products_header'
    .row
      - @products.each_with_index do |product, index|
        .col-sm-6.col-md-3
          .thumbnail
            = image_tag "#{product.image.url}"
            .caption
              %h3= product.name
              %p
                = product.description
                - if product.ext_description.present?
                  = image_tag 'info.png' , class: 'info-img', tabindex: "0",data: {content: "#{raw product.ext_description}", toggle: "popover", placement: "right", trigger: "focus", html: true} 
        - if (index+1)%4 == 0
          .clearfix
      .clearfix
      - if @marathon.voting_active
        .btn.btn-large.btn-primary#scroll-top= page_part 'open_modal'

= render partial: 'shared/slider', locals: { reports: @reports, marathon: @marathon }
