.container-fluid
  = simple_nested_form_for([:manage, @report], html: { class: 'form-horizontal' }) do |f|
    .form-errors
      = f.error_notification
    .row
      .col-lg-8
        .text-center
          = f.input :bucket, as: :boolean, label: false, input_html: { class: 'switch', data: { size: :large, onColor: :warning, offColor: :primary, 'on-text' => t('text.is_bucket'), 'off-text' => t('text.is_not_bucket'), 'handle-width' => 300 } }

        %h4= Report.human_attribute_name(:name)
        .form-group
          = f.label :name_en, class: 'col-lg-2'
          .col-lg-10
            = f.text_field :name_en, class: 'form-control'
        .form-group
          = f.label :name_uk, class: 'col-lg-2'
          .col-lg-10
            = f.text_field :name_uk, class: 'form-control'
        .form-group
          .col-lg-6
            = f.label :money_uah, class: 'col-lg-4'
            .col-lg-8
              = f.number_field :money_uah, class: 'form-control'
          .col-lg-6
            = f.label :money_usd, class: 'col-lg-4'
            .col-lg-8
              = f.number_field :money_usd, class: 'form-control'
        .form-group
          = f.label :final_number_of_people, class: 'col-lg-4'
          .col-lg-2
            = f.number_field :final_number_of_people, class: 'form-control'

      .col-lg-4.well
        %h4= Report.human_attribute_name(:duration)
        .form-group
          = f.label :report_month, 'Start month', class: 'col-lg-4'
          .col-lg-8.form-inline
            = f.date_select :report_month, {}, class: 'form-control'
        .form-group
          = f.label :end_month, class: 'col-lg-4'
          .col-lg-8.form-inline
            = f.date_select :end_month, {}, class: 'form-control'
    .row
      .col-lg-6
        = f.label :description_en
        = f.text_area :description_en, rows: 5, class: 'form-control'
      .col-lg-6
        = f.label :description_uk
        = f.text_area :description_uk, rows: 5, class: 'form-control'

    %hr

    .row
      = f.fields_for :sub_reports do |ff|
        %fieldset
          %legend= SubReport.model_name.human

          .row.form-group
            .col-lg-3
              = ff.label :amount, class: 'col-lg-6'
              .col-lg-6
                = ff.number_field :amount, class: 'form-control'

            .col-lg-3
              = ff.label :currency, class: 'col-lg-6'
              .col-lg-6
                = ff.select :currency, SubReport.currencies.keys, { include_blank: false }, { class: 'form-control' }

            .col-lg-6
              .col-lg-6
                = image_tag ff.object.image.url if ff.object.image
              .col-lg-6
                = ff.file_field :image, class: 'form-control'

          .row
            = ff.label :short_description_uk
            = ff.cktext_area :short_description_uk

          .row
            = ff.label :short_description_en
            = ff.cktext_area :short_description_en

          = ff.input :with_section
          = ff.input :section_uk, :as => :ckeditor, :input_html => { :height => 300 }
          = ff.input :section_en, :as => :ckeditor, :input_html => { :height => 300 }

          %hr

          .row
            %h3 Rows for table
            = ff.fields_for :report_tables do |fff|
              .well
                .form-group
                  = fff.label :name_uk, class: 'col-lg-2'
                  .col-lg-10
                    = fff.text_field :name_uk, class: 'form-control'
                .form-group
                  = fff.label :name_en, class: 'col-lg-2'
                  .col-lg-10
                    = fff.text_field :name_en, class: 'form-control'
                .form-group
                  = fff.label :price, class: 'col-lg-2'
                  .col-lg-2
                    = fff.number_field :price, class: 'form-control'
                .row.form-group
                  .col-lg-4
                    = fff.label :amount_uk, class: 'col-lg-6'
                    .col-lg-6
                      = fff.number_field :amount_uk, class: 'form-control'
                  .col-lg-4
                    = fff.label :amount_en, class: 'col-lg-6'
                    .col-lg-6
                      = fff.number_field :amount_en, class: 'form-control'
                  .col-lg-4
                    = fff.link_to_remove 'Remove row', class: 'btn btn-danger'
            = ff.link_to_add "Add table", :report_tables, class: 'btn btn-primary'

          / SubReport -> images
          %fieldset.image
            %h3 Attachments for slider
            = render partial: 'manage/reports/images_fields', locals: { form: ff }

          / = ff.hidden_field :image_cache
          = ff.link_to_remove "Remove", class: 'btn btn-danger'
      = f.link_to_add "Add a sub report", :sub_reports, class: 'btn btn-primary'
      %hr
      %h2 City Reports
      = f.fields_for :city_reports do |ff|
        %fieldset
          .row.form-group
            .col-lg-6
              = ff.label :city, class: 'col-lg-4'
              .col-lg-8
                = ff.select :city, CityReport::CITIES, {}, class: 'form-control'
            .col-lg-6
              = ff.label :currency, class: 'col-lg-6'
              .col-lg-6
                = ff.select :currency, CityReport.currencies.keys, { include_blank: false }, { class: 'form-control' }

          = ff.input :content_en, :as => :ckeditor, :input_html => { :height => 300 }
          = ff.input :content_uk, :as => :ckeditor, :input_html => { :height => 300 }

          = ff.link_to_remove "Remove city report", class: 'btn btn-danger'
          %hr
          .col-xs-6
            %fieldset.image
              %h3 Attachments for slider
              = ff.fields_for :images do |fff|
                .well
                  = image_tag fff.object.image if fff.object.image?
                  = fff.input :image, as: :file
                  = fff.input :youtube_url
                  = fff.link_to_remove "Remove image", class: 'btn btn-danger'
              = ff.link_to_add 'Add an attachment', :images, class: 'btn btn-primary'
          .col-xs-6
            %fieldset.image
              %h3 Rows for table
              = ff.fields_for :report_tables do |fff|
                = fff.input :name_uk
                = fff.input :name_en
                = fff.input :amount_uk
                = fff.input :amount_en
                = fff.input :price
                = fff.link_to_remove "Remove row", class: 'btn btn-danger'
              = ff.link_to_add "Add table", :report_tables, class: 'btn btn-primary'
          .clearfix

      = f.link_to_add "Add a city report", :city_reports, class: 'btn btn-primary'

      .form-group
        = f.button  :submit, 'Save', class: "btn  btn-success"
        = link_to  [:manage, :reports], class: "btn  btn-default" do
          %span.content_tag.glyphicon.glyphicon-remove
          Cancel
