= form.fields_for :images do |builder|
  = image_tag builder.object.image if builder.object.image?
  = builder.input :image, as: :file
  = builder.input :youtube_url
  = builder.link_to_remove 'Remove image', class: 'btn btn-danger'
= form.link_to_add 'Add image', :images, class: 'btn btn-primary'
