= simple_nested_form_for([:manage, @report]) do |f|
  = f.error_notification
  %h2 City Reports
  = f.fields_for :city_reports do |ff|
    %fieldset
      = ff.input :city, as: :select, collection: CityReport::CITIES
      = ff.input :content_en, :as => :ckeditor, :input_html => { :height => 300 }
      = ff.input :content_uk, :as => :ckeditor, :input_html => { :height => 300 }
      = ff.fields_for :images do |fff|
        %fieldset.image
          = image_tag fff.object.image if fff.object.image?
          = fff.input :image, as: :file
          = fff.input :description_en
          = fff.input :description_uk
          = fff.link_to_remove "Remove image", class: 'btn btn-danger'
      = ff.link_to_add "Add an image", :images, class: 'btn btn-primary'
      = ff.link_to_remove "Remove city report", class: 'btn btn-danger'

  = f.link_to_add "Add a city report", :city_reports, class: 'btn btn-primary'
  .form-group
    = f.button  :submit, 'Save', class: "btn  btn-success"
    = link_to  [:manage, :reports], class: "btn  btn-default" do
      %span.content_tag.glyphicon.glyphicon-remove
      Cancel
