%h1 Listing reports
%table.table
  %thead
    %tr
      %th Report Month
      %th Sub Reports
      %th City Reports
      %th Bucket
      %th{:colspan => "3"}
  %tbody
    - @reports.each do |report|
      %tr
        %td= report.report_month
        %td= report.sub_reports.count
        %td= report.city_reports.count
        %td{class: ('text-success' if report.bucket?)}
          %i.fa.fa-check-square-o.fa-2x
        %td= link_to 'Edit', edit_manage_report_path(report), class: 'btn btn-warning'
        %td= link_to 'Destroy', [:manage, report], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br
  = link_to 'New Report', new_manage_report_path, class: 'btn btn-primary'