= title @page.seo_title

#page.page-container
  .container
    .row
      - if current_user && current_user.admin?
        .col-md-12
          .well= link_to 'Edit', [:edit, :manage, @page], :class => 'btn btn-danger'

      - if @root.with_sub_pages?
        .col-md-3
          %ul.nav.nav-tabs.nav-stacked
            %li{:class => "item #{'active' if @root.id == @page.id}"}
              = link_to @root.seo_title, @root
            - @root.child_pages.each do |page|
              %li{:class => "item #{'active' if page.id == @page.id}"}
                = link_to page.seo_title, page
        .col-md-9
          %h1= @page.seo_title
          = raw @page.content
          .clear

      - else
        .col-md-12
          %h1= @page.seo_title
          = raw @page.content
          .clear
