.col-sm-6.col-md-4
  .thumbnail.project
    = link_to project do
      = image_tag project.preview? ? project.preview_url(:thumb_wide) : 'default_project.jpg', class: 'project-img'
    .organization
      - if project.organization
        %b
          = project.organization.name.capitalize
        = image_tag project.organization.logo_url (:thumb_mini)
    .caption
      - if project.completed
        = image_tag 'completed.png', class: 'completed'
      - elsif project.money_collected?
        = image_tag 'money_collected.png', class: 'completed'
      %h3.truncate
        = link_to truncate(project.name, length: 30), project, title: project.name
      .description
        = link_to project do
          %p
            = project.short_description
      .progress
        .progress-bar.progress-bar-striped.progress-bar-success.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => project.percent_complete, :role => "progressbar", :style => "width: #{project.ui_percent_complete}%"}
          = "#{project.percent_complete}% зібрано"
      .amount
        - if project.active?
          .pull-left
            %strong= number_to_currency project.amount, precision: 0
            треба
        .pull-right
          %strong= number_to_currency project.total_received, precision: 0
          зібрано
        .clearfix
