.row
  .col-md-6
    %h1.left Participants

.clearfix
.pull-right
  = link_to 'Export to CSV', participants_csv_manage_marathon_path(@marathon, format: :csv), class: 'btn btn-sm btn-success'

- if @participants.any?
  .pull-left
    = paginate @participants, window: 3

  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
        %th Amount

    %tbody
      - @participants.each do |participant|
        %tr
          %td= participant.name
          %td= participant.email
          %td= participant.amount
  .pull-right
    = paginate @participants, window: 3
  %br

- else
  %p No Participants.
