= title @project.name

= page_meta({ title: @project.name,
              description: @project.short_description.gsub(/["']/,''),
              url: request.original_url,
              image: full_image_url(@project.preview_url) })

.page-container
  .container
    .row.project-page
      .col-md-12
        %ul.nav.nav-tabs.project-nav-tabs{role: "tablist"}
          %li.active
            %a{href: "#general", role: "tab", data: {toggle: "tab"}}
              Проект
          %li
            %a{href: "#photos", role: "tab", data: {toggle: "tab"}}
              Фотографії
              %span.label.label-default= @project.photos.count
          %li
            %a{href: "#documents", role: "tab", data: {toggle: "tab"}}
              Документи
              %span.label.label-default= @project.documents.count
          %li
            %a{href: "#actions", role: "tab", data: {toggle: "tab"}}
              Отримані та витрачені кошти
      .col-md-12
        .row.project-content
          .col-md-9
            .project-show
              .tab-content
                .tab-pane.fade.in.active#general
                  - if @project.preview?
                    = image_tag @project.preview.url(:thumb_preview), class: 'thumbnail pull-left obj_thumbnail'
                  %h1= @project.name
                  = raw @project.description
                  .clearfix
                .tab-pane.fade.in#photos
                  %h2
                    Фото
                    .btn-group{"data-toggle" => "buttons"}
                      %label.btn.btn-success.btn-xs
                        %i.glyphicon.glyphicon-leaf
                        %input#borderless-checkbox{:type => "checkbox"}/
                        Без країв
                  - if @project.photos.any?
                    #links
                      - @project.photos.each_with_index do |photo, index|
                        = link_to photo.photo_url(:thumb_xwide), title: @project.name, data: {gallery: ""} do
                          = image_tag photo.photo_url(:thumb)

                  - else
                    %p Розділ пустий.

                .tab-pane.fade.in#documents
                  %h2 Документи
                  - if @project.documents.any?
                    %ul
                      - @project.documents.each do |e|
                        %li= link_to e.ui_file_name, e.document.url
                  - else
                    %p Розділ пустий.

                .tab-pane.fade.in#actions
                  %h2 Отримані та витрачені кошти
                  .row
                    .col-md-6
                      - if @project.credits.any?
                        %strong Отримані кошти
                        %table.table.table-bordered
                          - @project.credits.sort_by(&:credit_date).each do |e|
                            %tr
                              %td= l e.credit_date, format: :short
                              %td
                                - if e.currency == 'UAH'
                                  = number_to_currency e.amount
                                - else
                                  #{e.original_amount} #{e.currency}
                                  - unless e.original_amount == e.amount
                                    (#{e.amount} UAH)
                              %td= e.from_user
                    .col-md-6
                      - if @project.usages.any?
                        %strong Витрачені кошти
                        %table.table.table-bordered
                          - @project.usages.sort_by(&:usage_date).each do |e|
                            %tr
                              %td= l e.usage_date, format: :short
                              %td
                                - if e.currency == 'UAH'
                                  = number_to_currency e.amount
                                - else
                                  #{e.original_amount} #{e.currency}
                                  - unless e.original_amount == e.amount
                                    (#{e.amount} UAH)
                              %td= e.description.presence || '-'
                    .clearfix

          .col-md-3
            - if permitted?(@project)
              %p.btn-group.btn-group-justified= link_to 'Редагувати', [:edit, :manage, @project], class: 'btn btn-default'
            .caption
              %h3= @project.name
              .description
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-success.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => @project.percent_complete, :role => "progressbar", :style => "width: #{@project.ui_percent_complete}%"}
                    = "#{@project.percent_complete}% зібрано"
                .project-money
                  - if @project.active?
                    %strong= number_to_currency @project.amount
                    %span потрібно зібрати
                    %strong= number_to_currency @project.total_received
                    %span вже зібрано
                  - else
                    %strong= number_to_currency @project.total_received
                    %span зібрано

                - if @project.active?
                  .project-action.btn-group.btn-group-justified.bot-offset-20.well
                    = form_tag [:new_payment, @project], remote: true do
                      .field
                        %label.label.label-danger
                          * Ім'я
                        = text_field_tag :name, '', placeholder: "ваше ім'я або анонімно", class: 'form-control'
                      .field
                        %label.label.label-danger
                          * Сума
                        = text_field_tag :amount, '', placeholder: 'сума допомоги, грн', class: 'form-control'
                      = submit_tag "Підтримати", class: 'btn btn-success'

                - else
                  .well.completed
                    %label.label-danger
                      Проект завершено

            = social_share_button_tag(@project.name, popup: "true", desc: @project.short_description.gsub(/["']/,''), url: request.original_url, image: full_image_url(@project.preview_url))
            .organization
              - if @project.organization
                - if @project.organization.logo.present?
                  .logo= image_tag @project.organization.logo_url (:thumb_small)
                .desc
                  %i проект від
                  %b= @project.organization.name.capitalize
          .clearfix


.clearfix


#payment.hide
= render 'gallery'
