.container.admin
  %h2
    = t('devise.views.enter')
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.label :email, class: "col-sm-2 control-label"
      .col-sm-10
        = f.input :email, required: true, label: false
    .form-group
      = f.label :password, class: "col-sm-2 control-label"
      .col-sm-10
        = f.input :password, required: true, label: false

    .form-actions
      = f.button :submit, t('devise.views.sign_in')
  = render "devise/shared/links"

