= simple_form_for([:manage, resource], :html => {:class => 'form'}) do |f|
  = f.error_notification
  = f.input :name
  = f.input :finishing_on
  = f.input :started_at
  = f.input :active, inline_label: true, label: false
  = f.input :voting_active, inline_label: true, label: false
  = f.input :money_amount_en
  = f.input :money_amount_uk
  = f.input :final_percentage
  = f.input :final_number_of_people

  .form-group
    = f.association :products, as: :check_boxes, wrapper: :bootstrap_checkbox

  .form-group
    = f.button  :submit, 'Save', class: "btn btn-large btn-success"
    = link_to  manage_marathons_path, class: "btn  btn-default" do
      %spancontent_tag.glyphicon.glyphicon-remove
      Cancel
