.row
  .col-md-6
    %h1.left  Marathons
  .pull-right
    = link_to new_manage_marathon_path, class: 'btn btn-success h1-right-controls' do
      %span.glyphicon.glyphicon-plus
      Add marathon

.clearfix

- if @marathons.any?
  .pull-right
    = paginate @marathons, window: 3

  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Active
        %th Finishing at
        %th Participants
        %th Pending
        %th Confirmed
        %th Products
        %th

    %tbody
      - @marathons.each do |marathon|
        %tr
          %td= marathon.name
          %td= yes_no marathon.active
          %td= l marathon.finishing_on, format: :long
          %td #{marathon.participants.count}
          %td #{marathon.participants.pending.count}
          %td #{marathon.participants.confirmed.count}
          %td= marathon.products.count
          %td
            %ul.list-inline.text-right
              %li
                = link_to participants_manage_marathon_path(marathon), class: 'btn btn-sm btn-info' do
                  %spancontent_tag.glyphicon.glyphicon-eye-open
                  Details
              %li
                = link_to edit_manage_marathon_path(marathon), class: 'btn btn-sm btn-info' do
                  %spancontent_tag.glyphicon.glyphicon-pencil
                  Edit
              %li
                = link_to  manage_marathon_path(marathon), method: :delete, class: 'btn btn-sm  btn-danger', data: {confirm: "Are you sure you want to delete?"} do
                  %span.glyphicon.glyphicon-remove
                  Delete

  .pull-right
    = paginate @marathons, window: 3
  %br

- else
  %p No Marathons.
