.row
  .col-md-6
    %h1.left Participants

.clearfix
.pull-right
  %ul.list-inline.text-right
    %li
      = link_to  manage_marathons_path, class: 'btn btn-info' do
        %spancontent_tag.glyphicon.glyphicon-arrow-left
        Back to marathon
    %li
      = link_to  participants_csv_manage_marathon_path(@marathon, format: :csv), class: 'btn btn-success' do
        .glyphicon.glyphicon-list-alt
        Export to CSV
.clearfix

#chart

- if @participants.any?
  .pull-left
    = paginate @participants, window: 3

  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
        %th Amount
        %th Duration
        %th Confirmed
        %th Date

    %tbody
      - @participants.each do |participant|
        %tr
          %td= participant.name
          %td= mail_to participant.email
          %td= participant.select_option_human
          %td= participant.monthly_payments_human
          %td= yes_no participant.confirmed
          %td= l participant.created_at, format: :long
  .pull-right
    = paginate @participants, window: 3
  %br

- else
  %p No Participants.

= content_for :on_ready do
  !== drawChart (#{@marathon.grouped_participants})

