#documentss
  = f.simple_fields_for :documents do |fp|
    .row.form-group
      .col-md-10
        - if fp.object.persisted?
          = fp.object.ui_file_name
        = fp.input :document, label: false
      .col-md-2.text-right
        = fp.link_to_remove "Destroy", class: "btn btn-danger"
= f.link_to_add "Add a document", :documents, data: { target: "#documentss" }, class: "btn btn-defaut btn-success bot-offset"