- if current_user.admin?
  = f.association :organization
= f.input :name
= f.association :category
= f.input :description, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full', :height => 600} }
= f.input :amount
= f.input :completed, label: false, inline_label: true
= f.input :featured, label: false, inline_label: true