= f.input :preview
= f.label :additonal
#photoss.row
  = f.simple_fields_for :photos do |fp|
    .col-md-3
      .project-photo.thumbnail
        = fp.link_to_remove "X", class: "btn btn-danger x-btn"
        - if fp.object.new_record?
          .fake-photo
            Будь-ласка виберіть файл
        - else
          = image_tag fp.object.photo_url :thumb_wide
        .caption
          = fp.input :photo, label: false
= f.link_to_add "Add a photo", :photos, data: { target: "#photoss" }, class: "btn btn-defaut btn-success bot-offset"