.btn-group.btn-group-justified.project-form-tabs{role: "tablist", data: {toggle: "buttons"}}
  %a.btn.btn-info.active{href: "#general", role: "tab", data: {toggle: "tab"}}
    %input.hidden{checked: "checked", name: "options", type: "radio"}/
    General
  %a.btn.btn-info{href: "#photos", role: "tab", data: {toggle: "tab"}}
    %input.hidden{name: "options", type: "radio", href: "#photos", role: "tab", data: {toggle: "tab"}}/
    Photos
  %a.btn.btn-info{href: "#documents", role: "tab", data: {toggle: "tab"}}
    %input.hidden{name: "options", type: "radio"}/
    Documents

.tab-content
  .tab-pane.fade.in.active#general
    = render 'general', f: f
  .tab-pane.fade.in.fade#photos
    = render 'photos', f: f
  .tab-pane.fade.in#documents
    = render 'documents', f: f