.row
  .col-md-6
    %h1.left
      Editing Project
      = @organization.try(:name)
  .col-md-6
    = link_to 'Back to list', [:manage, :projects], class: 'btn btn-warning h1-right-controls'


= render 'form'