.row
  .col-md-6
    %h1.left
      = t('projects')
      = @organization.try(:name)
  .col-md-6
    = link_to t('add_obj', obj: t('project')), new_resource_path, class: 'btn btn-success h1-right-controls'
.clear

- if collection.any?
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th= t('name')
        - unless @organization
          %th= t('organization')
        %th= t('amount')
        %th= t('credits')
        %th= t('usages')
        %th= t('available')
        %th= t('completed')
        %th.actions= t('actions')
    %tbody
      - collection.each do |e|
        %tr
          %td= e.id
          %td= e.name
          - unless @organization
            %td= e.organization.try :name
          %td= e.amount
          %td= link_to e.total_received, [:manage, e, :credits]
          %td= link_to e.total_spent, [:manage, e, :usages]
          %td= e.available
          %td= t e.completed.class
          %td
            .actions-row
              = link_to t('edit'), edit_resource_path(e), class: 'btn btn-sm btn-info'
              = link_to t('delete'), resource_path(e), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure you want to delete?"}
            .actions-row
              = link_to t('credits'), [:manage, e, :credits], class: 'btn btn-sm btn-info'
              = link_to t('usages'), [:manage, e, :usages], class: 'btn btn-sm btn-info'
            .actions-row
              = link_to t('show'), e, class: 'btn btn-sm btn-info'
  %br

- else
  %p No Projects.
