

@import "compass";
@import "compass/layout.scss";

@include sticky-footer(62px);

body {
  background: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
}

.header-content {
  padding-top: 100px;
}

.thanks {
  background-image: image-url('top-bg.jpg');
  background-size: cover;
  .opacity {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .container {
    text-align: center;
    h1 {
      margin-top: 150px;
      font-size: 42px;
      &.not_now {
        margin-top: 250px;
      }
    }
    p {
      font-size: 16px;
      color: white;
    }
  }
}

.strong {
  font-weight: bold;
}

.header {
  border-bottom: 3px solid #3b7cb4;
  background-image: image-url('top-bg.jpg');
  background-size: cover;
  color: white;
  position: relative;
  .root-path a {
    font-size: 16px;
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
  .report_short_info {
    font-size: 30px;
  }
  &.report-header {
    height: 343px;
    padding-top: 10px;
    background-image: image-url('zvit_bg.jpg');
    hr {
      margin-top: 38px;
      margin-bottom: 42px;
      border-color: rgba(237, 225, 225, 0.1);
    }
  }
  .header-opacity {
    height: 100%;
    min-height: 500px;
    padding-bottom: 100px;
    .days {
      margin-top: 20px;
    }
    .days-block {
      font-size: 40px;
    }
    .last-day {
      color: #ff2e2e;
    }
    .right-part {
      p {
        margin-bottom: 0;
      }
    }
  }
  .order-header {
    h1 {
      text-align: left;
      margin-bottom: 0;
      margin-top: 60px;
    }
  }
  h1 {
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 70px;
    position: relative;
  }
  h3 {
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .form-header {
    font-size: 18px;
    margin-bottom: 30px;
  }
  form {
    font-size: 18px;

    input, .modal-content {
      color: black;
      .btn-primary {
        color: white;
      }
    }
    input[type="radio"], input[type="checkbox"] {
      position: relative;
      top: 2px;
    }
    .amount {
      width: 70px;
      margin-bottom: 20px;
    }
    label {
      font-weight: normal;
    }
  }
  .percentage-img {
    margin-bottom: 20px;
  }
  .language {
    a {
      color: #898989;
      margin-right: 5px;
      padding: 3px 5px;
      &.active {
        color: #ffffff;
        border: 1px solid;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .comment {
    color: #9e9e9e;
  }
  .toc-block input{
    vertical-align: top;
  }
  .toc {
    font-size: 12px;
    max-width: 90%;
    color: #fff;
  }
  .comment.toc select{
    color: #000;
  }
  .clock {
    margin-right: 10px;
    margin-bottom: 7px;
  }
  .to_next_sprint {
    padding-top: 100px;
    text-align: center;
    font-size: 48px;
    .strong {
      font-size: 100px;
      font-weight: bold;
      line-height: 70px;
    }
    & .col-xs-4 {
      border-right: 2px solid #ffcc00;
    &:last-child {
      border: none;
    }
  }
  }
}


.items-section {
  text-align: center;
  color: #333333;
  padding: 58px 5px;
  margin-bottom: 62px;
  h2 {
    font-size: 34px;
  }
  .thumbnail {
    background: inherit;
    border: none;
    img {
      width: auto;
    }
  }
}

.btn-primary.btn-large {
  font-size: 16px;
  padding: 10px 20px;
}

.yellow {
  color: #ffcc00;
}

.footer {
  height: 62px;
  background: #e4e6e6;
  color: #6c7171;
  padding-top: 22px;
  .container {
    padding: 0;
  }
}

.js-form-error {
  font-size: 14px;
}

#left-part {
  position: relative;
}

.scroll_arrow {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -24px;
  cursor: pointer;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
}
.popover {
  width: 700px;
  max-width: 700px;
}
.info-img:hover {
  cursor: pointer;
}

.modal-open {
  overflow: auto;
}
span.c0 {
  font-weight: bold;
}
#chart {
  width:100%;
  height:400px;
}
.money {
  font-size: 54px;
  margin-bottom: 40px;
  p {
    margin-bottom: 0;
  }
  span {
    font-weight: normal;
  }
}
.money-info {
  font-size: 18px;
}


.bold {
  font-weight: bold;
}

// .container {
//   font-family:"Lucida Grande","Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
// }

.slider-section {
  background: #3b7cb4;
  color: white;
  text-align: left;
  padding: 28px 5px;
  margin-bottom: 62px;
  h2 {
    font-size: 34px;
    text-align: center;
  }
  .thumb-header {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
  }
  .period {
    font-size: 18px;
  }
  hr {
    margin-top: 13px;
    margin-bottom: 4px;
  }
  .btn.btn-primary {
    width: 144px;
    margin: 0 auto;
  }
  .description {
    text-align: left;
  }
  .bucket-section {
    ul {
      list-style-type: none;

      li {
        float: left;
        width: 49%;

        .well {
          padding-top: 5px;

          h3 {
            font-size: 18px;
          }
        }

        &+ li {
          margin-left: 1%;
        }
      }
    }
  }
  &.green-slider {
    background-color: #f8f8f8;
    color: #444444;
    h2 {
      color: #333333;
    }
    h3 {
      color: #3f86c3;
    }
    hr {
      border-color: #3f86c3;
    }
    .btn.btn-primary {
      color: white;
      background-color: #3f86c3;
    }
  }
}

fieldset {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #C4C4C4;
  margin-bottom: 20px;
  img {
    max-width: 200px;
  }
}

.report-summary {
  background: #3b7cb4;
  color: white;
  font-size: 32px;
  padding: 25px 4px;
  p {
    margin-bottom: 0;
  }
  & .col-xs-6:first-child {
    border-right: 1px solid;
  }
}

.sub-reports {
  background: #F8F8F8;
  color: #6c7171;
  padding: 40px 5px;
  & .col-xs-4 {
    padding: 5px 20px;
  }
  a.col-xs-4 {
    color: #6c7171;
    &:hover {
      text-decoration: none;
      color: #6c7171;
    }
  }
  img {
    width: 100%;
  }
  .amount {
    background: rgba(59, 124, 180, 0.87);
    padding: 15px 20px;
    position: relative;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    font-size: 20px;
  }
  p {
    margin-bottom: 0;
  }
}

.city-reports {
  background: white;
  padding: 40px 5px;
  h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 34px
  }
  table.table.report-table thead th:first-child {
    width: 375px;
  }

  .nav-tabs {
    border: none;
    margin-bottom: 30px;
    li.active > a {
      background: rgba(59, 124, 180, 1);
      color: white;
      border: none;
      border-radius: 0;
    }
  }
  .city-report-images {
    text-align: center;
    img {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
    a {
      margin-top: 10px;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }

  }
}

.modal-title {
  font-weight: bold;
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 20px;
}

.carousel-inner .item {
  & > img {
    margin: 0 auto;
    width: 100%;
  }
}

.carousel-inner .caption {
  border-top: 1px solid #E4E4E4;
  background: white;
  padding-top: 5px;
  position: relative;
  z-index: 5;
}

.carousel {
  margin: 20px auto 10px;
  overflow: hidden;

  .carousel-control {
    display: none;
  }

  &:hover {
    .carousel-control {
      display: block;
    }
  }
}

.white-block {
  background: white;
  position: relative;
  z-index: 5;
  height: 20px;
}

.tab-content .col-xs-6 {
  padding-left: 0;
}
#report_report_month_3i, #report_end_month_3i {
  display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .mbYTP_wrapper {min-height: 0 !important;} }


.sub-reports-section {
  .container {
    position: relative;
    padding: 80px 0 0;
  }
  .half:first-child {
    padding-right: 20px;
  }

  &:nth-child(even) {
    background: #F8F8F8;
  }
  &:nth-child(odd) {
    background: white;
  }
  h1, h2 {
    text-align: center;
    position: absolute;
    top: 40px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}

.report-table {
  text-align: left;
  background: #F8F8F8;
  thead {
    background: rgba(59, 124, 180, 1);
    color: white;
    tr th:nth-child(2), tr th:nth-child(3) {
      text-align: right;
    }
  }
  tr td:nth-child(2), tr th:nth-child(3) , tr td:nth-child(3) {
    text-align: right;
  }
}

.half {
  display: inline-block;
  width: 50%;
  margin-left: -4px;
  vertical-align: top;
}

.simple_form.edit_report .btn {
  margin-bottom: 5px;
}

.monthly_payments_cb {
  select {
    margin-top: 2px;
  }
}

.report-slider {
  margin: 5px auto;

  .carousel {
    width: 100%;
  }

  &.slider-left {
    width: 45%;
    float: left;
    margin: 5px 25px 5px 0;
  }

  &.slider-right {
    width: 45%;
    float: right;
    margin: 5px 0 5px 25px;
  }
}

.padding-xs {
  padding: 100px 0;
}
