.jcarousel-wrapper {
  margin: 20px auto;
  position: relative;
  width: 100%;

  .jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;

    ul {
      width: 20000em;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        //width: 200px;
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px;

        .thumb {
          width: 80%;
        }
      }
    }
  }

  .jcarousel-control-next, .jcarousel-control-prev {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 50px Arial, sans-serif;

    &:hover, &:focus {
      text-decoration: none;
      color: white;
    }

    &:before {
      color: #fff;
      font-size: 50px;
      font-weight: 900;
      text-shadow: 0px 0px 1px #e4e6e6;
    }

    &:hover {
      &:before {
        text-shadow: 0px 0px 1px #000;
      }
    }
  }

  .jcarousel-control-prev {
    left: -30px;

    &:before {
      content: '❰';
      display: block;
    }
  }
  .jcarousel-control-next {
    right: -30px;

    &:before {
      content: '❱';
    }
  }
}

.carousel-theme {
  a {
    &.jcarousel-control-prev, &.jcarousel-control-next {
      &:before, &:after {
        color: #538cbc;
        opacity: 0.3;
      }

      &:hover {
        &:before, &:after {
          opacity: 1;
          -webkit-transition: opacity 1s;
          -moz-transition: opacity 1s;
          -ms-transition: opacity 1s;
          -o-transition: opacity 1s;
          transition: opacity 1s;
        }
      }
    }
  }
}

// Slick Reports
.slider-reports {
  .slider-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    display: block;
    float: left;
  }

  .slick-prev, .slick-next {
    white-space: nowrap;
    position: absolute;
    top: 35%;
    margin-top: -15px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font-family: Arial, sans-serif;
    font-size: 0;
    background: none;
    border: none;

    &:hover, &:focus {
      text-decoration: none;
      outline: none;
      color: white;
    }
  }

  .slick-prev {
    left: -35px;

    &:before {
      white-space:pre;
      font-size: 75px;
      height: 75px;
      font-weight: 900;
      text-shadow: 0 0 1px #e4e6e6;
      color: #538cbc;
      opacity: 0.3;
      content: '❰';
      display: block;
    }

    &:hover {
      cursor: pointer;

      &:before {
        text-shadow: 0 0 1px #000;
        opacity: 1;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
      }
    }
  }

  .slick-next {
    right: -20px;

    &:after {
      white-space:pre;
      display: block;
      content: '❱';
      font-size: 75px;
      height: 75px;
      font-weight: 900;
      text-shadow: 0 0 1px #e4e6e6;
      color: #538cbc;
      opacity: 0.3;
    }

    &:hover {
      cursor: pointer;

      &:after {
        text-shadow: 0 0 1px #000;
        opacity: 1;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
      }
    }
  }
}

.bucket-section {
  .bucket-slider {
    .slider-item {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px;
      display: block;
    }

    &:hover {
      .slick-prev {
        &:before {
          display: block;
        }
      }

      .slick-next {
        &:after {
          display: block;
        }
      }
    }

    .slick-prev, .slick-next {
      font-family: Arial, sans-serif;
      white-space: nowrap;
      position: absolute;
      text-align: center;
      color: #fff;
      top: 30px;
      z-index: 1;
      font-size: 0;
      right: -15px;
      margin-top: -15px;
      text-decoration: none;
      text-shadow: 0 0 1px #000;
      background: none;
      border: none;

      &:hover, &:focus {
        text-decoration: none;
        outline: none;
        color: white;
      }
    }

    .slick-prev {
      &:before {
        white-space: pre;
        font-size: 50px;
        line-height: 30px;
        height: 30px;
        font-weight: 900;
        text-shadow: 0 0 1px #e4e6e6;
        color: #538cbc;
        opacity: 0.3;
        content: '^';
        display: none;
      }

      &:hover {
        cursor: pointer;

        &:before {
          text-shadow: 0 0 1px #000;
          opacity: 1;
          -webkit-transition: opacity 1s;
          -moz-transition: opacity 1s;
          -ms-transition: opacity 1s;
          -o-transition: opacity 1s;
          transition: opacity 1s;
        }
      }
    }

    .slick-next {
      top: 60px;

      &:after {
        white-space: pre;
        display: none;
        content: '^';
        font-size: 50px;
        line-height: 30px;
        height: 30px;
        font-weight: 900;
        text-shadow: 0 0 1px #e4e6e6;
        color: #538cbc;
        opacity: 0.3;
        /* Safari */
        -webkit-transform: rotate(180deg);
        /* Firefox */
        -moz-transform: rotate(180deg);
        /* IE */
        -ms-transform: rotate(180deg);
        /* Opera */
        -o-transform: rotate(180deg);
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      }

      &:hover {
        cursor: pointer;

        &:after {
          text-shadow: 0 0 1px #000;
          opacity: 1;
          -webkit-transition: opacity 1s;
          -moz-transition: opacity 1s;
          -ms-transition: opacity 1s;
          -o-transition: opacity 1s;
          transition: opacity 1s;
        }
      }
    }
  }
}

.clear-left {
  clear: left;
}
