.row
  .col-md-6
    %h1.left Listing Categories
  .col-md-6
    = link_to 'Add Category', new_manage_category_path, class: 'btn btn-success h1-right-controls'

.clearfix

- if @categories.any?
  .pull-right
    = paginate @categories, window: 3

  %table.table.table-striped
    %thead
      %tr
        %th Category
        %th Projects
        %th.actions Actions

    %tbody
      - @categories.each do |category|
        %tr
          %td= category.name
          %td= category.projects.count
          %td
            = link_to 'Edit', edit_manage_category_path(category), class: 'btn btn-sm btn-warning'
            = link_to 'Delete', manage_category_path(category), :method => :delete, class: 'btn btn-sm btn-danger', data: {:confirm => 'Are you sure you want to delete?'}

  .pull-right
    = paginate @categories, window: 3
  %br

- else
  %p No Categories.
