.clearfix
.carousel.slide{'data-ride' => 'carousel', id: "carousel-generic-#{dom_id(report)}"}
  / Wrapper for slides
  .carousel-inner{role: 'listbox'}
    - report.images.each_with_index do |image, index|
      .item{class: "#{'active' if index.zero?}"}
        - if image.image?
          = image_tag image.image.slider.url, alt: ''
        - elsif image.youtube_embed?
          %iframe{src: image.youtube_url, style: 'display: block;margin: 0 auto;', width: '75%;', height: '300px', allowfullscreen: true}
  / Controls
  %a.left.carousel-control{'data-slide' => 'prev', href: "#carousel-generic-#{dom_id(report)}", role: 'button'}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{'data-slide' => "next", href: "#carousel-generic-#{dom_id(report)}", role: 'button'}
    %span.glyphicon.glyphicon-chevron-right{'aria-hidden' => 'true'}
    %span.sr-only Next
