%section.sub-reports-section{id: "report-#{i}"}
  .container
    - if sub_report.report_tables.any?
      .half
        - if sub_report.with_section?
          = raw sub_report.section
        - if sub_report.images.present?
          .report-slider
            = render partial: 'reports/slider', locals: { report: sub_report }
      .half
        %table.table.report-table
          %thead
            %tr
              %th= t :table_name
              %th= t :table_amount
              %th.col-md-3= t :table_price
          %tbody
            - total = 0
            - sub_report.report_tables.each do |row|
              - total += row.price
              %tr
                %td= row.name
                %td= row.amount
                %td=number_to_currency row.price, precision: 0, unit: t(sub_report.currency), format: '%n %u'
            %tr
              %th= t :total
              %th
              %th=number_to_currency total.round(1), precision: 0, unit: t(sub_report.currency), format: '%n %u'
      .clearfix
    - else
      - if sub_report.with_section?
        = raw sub_report.section
      - if sub_report.images.present?
        .report-slider
          = render partial: 'reports/slider', locals: { report: sub_report }
