%section.sub-reports
  .container
    %p
      = "#{t(:report_group)}:"
    .row
      - report.sub_reports.each_with_index do |sub_report, i|
        %a.col-xs-4{href: "#report-#{i}"}
          = image_tag sub_report.image.list.url, alt: ''
          %p.amount= number_to_currency(sub_report.amount , precision: 0, unit: t(sub_report.currency), format: '%n %u').gsub(',', ' ')
          .content
            = raw sub_report.short_description
