= title(t :report)
%header.header.report-header
  .header-opacity
    .container
      .pull-left.root-path
        = link_to t(:home), root_path
      .language.pull-right
        = link_to 'УКР', url_for(locale: :uk), class: "#{'active' if active_locale?(:uk)}"
        = link_to 'ENG', url_for(locale: :en), class: "#{'active' if active_locale?(:en)}"
      .clearfix
      .order-header
        %h1
          = l @report.report_month.to_date, format: :month
          = l @report.report_month.to_date, format: :year
          - if @report.bucket?
            &#8212;
            = l @report.end_month.to_date, format: :month
            = l @report.end_month.to_date, format: :year
      %hr
      .row.report_short_info
        .col-xs-4
          %p= t :order_thanks
          %p.strong.yellow= t :thanks_strong
        .col-xs-4
          %p= t :collected
          %p.strong.yellow
            - unless @report.bucket?
              = number_to_currency(@report.money_usd, precision: 0, unit: '$', format: "%u %n").gsub(',', ' ')
              = t :and
            = number_to_currency(@report.money_uah , precision: 0, unit: "#{t :uah}", format: "%n %u").gsub(',', ' ')
        - unless @report.bucket?
          .col-xs-4
            %p= t :took_part
            %p.strong.yellow
              = @report.final_number_of_people
              = t(:employees)
              = '('+number_to_percentage(@report.final_number_of_people/35.1, precision: 0)+')'

        .clearfix
- if @report.sub_reports.present?
  = render partial: 'reports/sub_reports', locals: { report: @report }
%section.city-reports#report-0
  .container
    %h2= t :city_reports_header
    .row
      %div{:role => "tabpanel"}
        / Nav tabs
        %ul.nav.nav-tabs{:role => "tablist"}
          - @report.city_reports.each_with_index do |report, index|
            %li{:role => "presentation", :class => "#{'active' if index==0}"}
              %a{"aria-controls" => "##{report.city}", "data-toggle" => "tab", :href => "##{report.city}", :role => "tab"}=t report.city
        / Tab panes
        .tab-content
          - @report.city_reports.each_with_index do |report, index|
            .tab-pane{:role => "##{report.city}", :id => "#{report.city}", :class => "#{'active' if index==0}"}
              .col-xs-6
                -if report.images.present?
                  = render partial: 'reports/slider', locals: { report: report }
                = raw report.content
              .col-xs-6.city-report-images
                - if report.report_tables.any?
                  %table.table.report-table
                    %thead
                      %tr
                        %th= t :table_name
                        %th= t :table_amount
                        %th= t :table_price
                    %tbody
                      - total = 0
                      - report.report_tables.each do |row|
                        - total += row.price
                        %tr
                          %td= row.name
                          %td= row.amount
                          %td=number_to_currency row.price, precision: 0, unit: t(report.currency), format: '%n %u'
                      %tr
                        %th= t :total
                        %th
                        %th=number_to_currency total.round(1), precision: 0, unit: t(report.currency), format: '%n %u'
              .clearfix

- @report.sub_reports.each_with_index do |report, i|
  = render partial: 'reports/sub_reports_info', locals: { report: @report, sub_report: report, i: i + 1 }

= render partial: 'shared/slider', locals: { reports: @reports, marathon: @marathon }
