!!!
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"} 
    %title SoftServe Donate
    = stylesheet_link_tag 'application', media: 'all'
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag 'application'
    %script{:src=>"http://code.highcharts.com/stock/highstock.js"} 
    %script{:src=>"http://code.highcharts.com/stock/modules/exporting.js"}
    = javascript_include_tag 'admin'
    = csrf_meta_tags
  %body
    #root
      = render 'shared/admin_header'
      .container.unobtrusive-flash-container
      .container.admin= yield
      #root_footer

    :javascript
      $(document).ready(function(){
        #{ yield :on_ready }
      });
      $(window).load(function(){
        #{ yield :on_load }
      });
