!!!
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"} 
    - title = yield :title
    %title= raw(title.blank? ? page_part('site_title') : title)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :page_meta
  %body
    #root.thanks
      = yield
    %footer.footer#footer
      .container
        .pull-left
          %span= page_part 'footer_text'
        .pull-right
          = image_tag "softserve.png"
        .clearfix